* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 45px 10%;
  background-color: #6da3c7;
}

.logo {
  margin-right: auto;
}
.logo img{
	width: 72px;
	animation:rotateIn;
	animation-duration: 2s;
}
.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

.general{
	width: 100%;
    height: auto;
	background-color: coral;
}

.caja1{
width: 100%;
height: 250px;
background-color: #6da3c7;	
}

.n1{
margin-top: 55px;
float: left;
width: 30%;
height: 150px;
/*background-color: blanchedalmond;*/
margin-right: 20px;
margin-left: 20px;	
	
}

.n1 img{
width: 30%;
display: block;
margin-left: auto;
margin-right: auto;	
}
.caja1 h1{
	font-family:'Cabin Condensed', sans-serif;
	font-size: 25px;
text-align: center;
	color: beige;
}
.caja2{
width: 100%;
height: 250px;
background-color: #dd8331;
}
.caja3{
width: 100%;
height: 250px;
background-color: #eecc3a;
}
.caja4{
width: 100%;
height: 250px;
background-color: #fa8596;
}
.frases{
float: left;
margin-top: 60px;
margin-left: 280px;
margin-right: ;
width: 60%;
/*background-color: aqua;*/
text-align: center;
color: #ffff;
font-family:'Niramit', sans-serif;
}
.boton{
margin-top: 10px;	
background-color:beige;
width: 20%;	
height: 50px;
border-radius: 25px;	
float: left;
margin-left: 540px;
color: gray;
animation:zoomIn;
	animation-duration:2s;
}

.boton :.boton hover{
animation:zoomIn;	
}
.boton h1{
margin-top: 15px;	
font-family:'Niramit', sans-serif;
font-size: 20px;
text-align: center;
}

footer{
width: 100%;
height: 60px;
background-color:#6da3c7;
clear: both;
}
footer h1{
color:#ffff;
font-size: 15px;
text-align: center;
font-family:'Niramit', sans-serif;
}


@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
@media only screen and (max-width: 767px) {
	.general{
		width: 100%;
	}
	.caja1{
width: 100%;
height: 240px;
background-color: #6da3c7;	
}
.frases{
float: left;
margin-top: 60px;
margin-left: 0px;
margin-right: ;
width: 100%;
/*background-color: aqua;*/
text-align: justify;
color: #ffff;
font-family:'Niramit', sans-serif;
}
.boton{
	
margin-top: 10px;	
background-color:beige;
width: 25%;	
height: 50px;
border-radius: 25px;	
float: left;
margin-left: 0px;
color: gray;
animation:zoomIn;
	animation-duration:2s;
}
	.caja2{
width: 100%;
height: 350px;
background-color: #dd8331;
}
		.caja3{
width: 100%;
height: 350px;
background-color: #eecc3a;
}
			.caja4{
width: 100%;
height: 350px;
background-color: #fa8596;
}
	.n1{
margin-top: 55px;
float: left;
width: 25%;
height: 150px;
/*background-color: blanchedalmond;*/
margin-right: 20px;
margin-left: 20px;	
	
}
	.caja1 h1{
	font-family:'Cabin Condensed', sans-serif;
	font-size: 15px;
text-align: center;
	color: beige;
}
	.n1 img{
width: 55%;
display: block;
margin-left: auto;
margin-right: auto;	
}

}